name: Validate and Build

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install tools
        run: |
          npm install -g mmdb-schema-and-tools
      - name: Validate
        run: mmdb-validate --repo-path=.
      - name: Build indexes
        run: mmdb-build-indexes --repo-path=.
